$firstColor:#cacaca;
$secondColor:#4316F3;
$thirdColor:#591DA9;
$fourthColor:#727171;
$errorColor:#a10000;
$whiteColor:#dddddd;
$blackColor:#000000d2;
$transparentColor:transparent;

$width-full: 100%;
$width-max-limited: 600px;
$width-child:100%;

$font-size-p: 16px;
$font-size-h1: 20px;
$font-size-btn:14px;